body{
    background-color: black;
}

.heading{
    background-color: rgb(150, 150, 143);
    font-size: 3.75rem;
    text-align: center;
      
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;

}
button{
    background-color: rgb(150, 150, 143);
    margin: 10px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 2px;
}
#display{
    background-color: rgb(178, 176, 176);
    position: relative;
    width: 350px;
    height: 40px;
    left: 560px;
    color: black;
    
    
    
}